@model CarSales.Models.Automobil
@using CarSales.Resources

@{
    ViewBag.Title = Resource.Details;
}

<h2>@Resource.Details</h2>

<div>

    <img width="200" src="@Url.Action("CitajSliku", "Automobili", new { id = Model.AutomobilId })"/>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resource.Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Resource.Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Resource.Year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godiste)
        </dd>

        <dt>
            @Resource.EngineDisplacement (cm<sup>3</sup>)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZapreminaMotora)
        </dd>

        <dt>
            @Resource.HP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Snaga)
        </dd>

        <dt>
            @Resource.Fuel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gorivo)
        </dd>

        <dt>
            @Resource.CarBody
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Karoserija)
        </dd>

        <dt>
            @Resource.Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Resource.Price (&euro;)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Resource.Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Resource.Edit, "Edit", new { id = Model.AutomobilId }) |
    @Html.ActionLink(Resource.Back, "Index")
</p>
